<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - DoubleCheck</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/Fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script>
        var status = 0;
        function reverseNav() {
            if (status == 0) {
                document.getElementById("SideBar").style.width = "400px";
                status = 1;
            }
            else if (status == 1){
                document.getElementById("SideBar").style.width = "0px";
                status = 0;
            }
        }
    </script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
<body>
    <div id="top-navbar">
        <div id="menu-button" onclick="reverseNav()">
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
        </div>
        <div class="nav-acc" onclick="window.location.href = '@Url.Action("Edit", "Account")'">
            <div class="nav-acc-img"><img src="~/Resources/Images/profile.png" /></div>
            <div class="nav-acc-name">@Session["UserFirstName"]</div>
        </div>
    </div>

    <div id="SideBar">
        <div class="sidebar-panel-top">
            <div class="picture-frame">
                <img src="~/Resources/Images/profile.png" />
            </div>
            <div id="sidebar-username">
                <h2>@Session["UserFirstName"] @Session["UserLastName"]</h2>
            </div>
        </div>

        <div id="sidebar-panel-body">
            <ul>
                <li><a class="li-center" href=@Url.Action("Index", "Assignments")><i class="fa fa-list-alt fa-2x"></i><span class="centered">Assignments</span></a></li>
                <li><a class="li-center" href=@Url.Action("Index", "Class")><i class="fa fa-university fa-2x"></i><span class="centered">Classes</span></a></li>
                <li><a class="li-center" href=@Url.Action("Calendar", "Calendar")><i class="fa fa-calendar fa-2x"></i><span class="centered">Calendar</span></a></li>
                <li><a class="li-center" href=@Url.Action("Edit", "Account")><i class="fa fa-user fa-2x"></i><span class="centered">MyAccount</span></a></li>
                <li><a class="li-center" href=@Url.Action("Logout", "Account")><i class="fa fa-sign-out fa-2x"></i><span class="centered">Sign Out</span></a></li>
                <br />
                <li style="text-align:center;">V1.0.0</li>
            </ul>
            <br />
        </div>
    </div>

    <div id="main">
        @RenderBody()
    </div>
</body>
</html>
