@model DoubleCheck.Models.User

@{
    ViewBag.Title = "Create Account";
}


<div class="create-acct-panel">
    <div class="create-acc-panel-left">
        <h1 class="create-acc-title">Create an Account</h1>
    </div>
    <div class="create-acc-panel-right">
        <div class="section-title">
            <h1 class="create-acc-subtitle">DoubleCheck &#10004;&#10004;</h1>
            <p>Create your account, it takes less than a minute. If you already have an acoount, please use <a href="@Url.Action("Login", "Account")">Login</a> page.</p>
        </div>
        <hr />
        @using (Html.BeginForm("Create", "Account", FormMethod.Post))
            {
            @Html.AntiForgeryToken()

            <div id="error_message" class="alert alert-danger hidden">
                <strong>@ViewBag.Error</strong>
            </div>


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="create-input-block">
                    <i class='fa fa-user fa-lg input-trans'></i>
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "create-input-field", @placeholder = "Username" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>

                <div class="create-input-block">
                    <i class='fa fa-envelope fa-lg input-trans'></i>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "create-input-field", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="create-input-block">
                    <i class='fa fa-lock fa-lg input-trans'></i>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "create-input-field", @placeholder = "Password", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="create-input-block">
                    <i class='fa fa-user fa-lg input-trans'></i>
                    @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "create-input-field", @placeholder = "First Name" } })
                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                </div>

                <div class="create-input-block">
                    <i class='fa fa-user fa-lg input-trans'></i>
                    @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "create-input-field", @placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                </div>

                <div class="create-input-block">
                    <i class='fa fa-phone-square fa-lg input-trans'></i>
                    @Html.EditorFor(model => model.phone_num, new { htmlAttributes = new { @class = "create-input-field", @placeholder = "Phone Number", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.phone_num, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="CREATE" class="acc-submit" />
                    </div>
                </div>

        }
    </div>
</div>

<!-- Denee: Don't click this just yet! Not necessarily functional. -->
@*<div>
            @Html.ActionLink("Back to List", "Index")
    </div>*@

<script>
    $(document).ready(function () {
        var error = '@ViewBag.Error';
        if (error != '') {
            $("#error_message").removeClass('hidden');
        }
    })
</script>