@model DoubleCheck.Models.User

@{
    ViewBag.Title = "Home";
}

<div class="login-content">
    <div class="login-intro">
        <span>Always double check your homework! With the Double Check web application you can schedule all of your assignments in one place, get notifications for study time, and watch your list of completed assignments grow and grow.</span>
        <h2> Create an account or login to get started! </h2>
    </div>


    <div class="form-wrapper">
        <h2>Sign in to DoubleCheck</h2>

        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="login-input-block">
                <i class='fa fa-user fa-lg input-trans'></i>
                @Html.EditorFor(model => model.Username, new
                  {
                      htmlAttributes = new
                     {
                         @class = "login-input-field",
                         @placeholder = "Username"
                      }
                 })
            </div>
            <div class="login-input-block">
                <i class='fa fa-lock fa-lg input-trans'></i>
                @Html.EditorFor(model => model.Password, new
                 {
                    htmlAttributes = new
                       {
                         @class = "login-input-field",
                        @Type = "Password",
                           @placeholder = "Password"
                      }
                 })
            </div>

            if (TempData["Message"] != null)
            {
                <p>@TempData["Message"]</p>
            }

            <div class="login-input-block">
                <input type="submit" value="Log In" class="login-submit" />
            </div>
            <hr />
            <div class="login-footer">
                <div class="login-footer-l">
                    <a onclick="location.href='@Url.Action("ForgotPassword","Account")'">Forgot Your Password</a>
                    <i class='fa fa-question-circle-o input-trans'></i>
                </div>
                <div class="login-footer-r">
                    <a onclick="location.href='@Url.Action("Create","Account")'">Create Account</a>
                    <i class='fa fa-arrow-circle-right input-trans'></i>
                </div>
            </div>

        }
    </div>
</div>