@model DoubleCheck.Models.Assignment

@{
    ViewBag.Title = "Delete Assignment";
}


<div class="panel-card">
    <div class="Panel-Header">
        <p>&nbsp;</p>
        <h3 style="text-align:center;">Are you sure you want to delete this Assignment?</h3>
    </div>
    <div class="Panel-Body">
        <br /><br />
        <dl class="dl-horizontal">
            <dt><label>Name</label></dt>
            <dd><input type="text" value="@Html.DisplayFor(model => model.Name)" class="form-control" disabled></dd><br />

            <dt><label>Status</label></dt>
            <dd><input type="text" value="@Html.DisplayFor(model => model.Status)" class="form-control" disabled></dd><br />

            <dt><label>Due Date</label></dt>
            <dd><input type="text" value="@Html.DisplayFor(model => model.Due_Date)" class="form-control" disabled></dd><br />

            <dt><label>TTC</label></dt>
            <dd><input type="text" value="@Html.DisplayFor(model => model.TTC)" class="form-control" disabled></dd><br />

            <dt><label>Description</label></dt>
            <dd><input type="text" value="@Html.DisplayFor(model => model.Description)" class="form-control" disabled></dd><br />

            <dt><label>Class</label></dt>
            <dd><input type="text" value="@Html.DisplayFor(model => model.Class.Name)" class="form-control" disabled></dd><br />

            <dt><label>Assignment Type</label></dt>
            <dd><input type="text" value="@Html.DisplayFor(model => model.Asgmt_Type.Name)" class="form-control" disabled></dd><br />

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger btn-create" />
                <a href="@Url.Action("Index", "Assignments")" class="btn btn-primary btn-create">Cancel</a>
            </div>
        }

        <div>
            <br />
            <br />
            <br />
        </div>

    </div>
</div>