@model IEnumerable<DoubleCheck.Models.Assignment>

@{
    var date = "";
    var dateClass = "";
    ViewBag.Title = "Assignments";
}

<script>

    function displayDelete(id) {
        document.getElementById(id).style.display = "initial";
    }

    function hideDelete(id) {
        document.getElementById(id).style.display = "none";
    }

</script>

<div class="bg">

    <div class="ttc-section">
        <div class="ttc-title">
            <p>Estimated Study Time</p>
        </div>

        <div class="ttc-card">
            <p class="ttc-card-name">Past Due</p>
            <span class="ttc-card-time">@ViewBag.TTC_PastDue</span>Hrs
        </div>

        <div class="ttc-card">
            <p class="ttc-card-name">Due This Week</p>
            <span class="ttc-card-time">@ViewBag.TTC_ThisWeek</span>Hrs
        </div>

        <div class="ttc-card">
            <p class="ttc-card-name">Due Next Week</p>
            <span class="ttc-card-time">@ViewBag.TTC_NextWeek</span>Hrs
        </div>

        <div class="ttc-card">
            <p class="ttc-card-name">Total</p>
            <span class="ttc-card-time">@ViewBag.TTC_Total</span>Hrs
        </div>
    </div>
    <a class="asgmt-new" href="@Url.Action("Create", "Assignments")"><i class="fa fa-plus-circle fa-sm"></i> New Assignment</a>
    <br />
    <div class="asgmt-panels">
        <p class="asg-title">Not Started</p>
        @foreach (var Assignment in Model)
        {
            if (Assignment.Status == 1)
            {
                date = Assignment.Due_Date.ToString();
                if (Assignment.Due_Date > DateTime.Now.Date)
                {
                    dateClass = "asgmt-Green";
                }
                else if (Assignment.Due_Date < DateTime.Now.Date)
                {
                    dateClass = "asgmt-Red";
                }
                else
                {
                    dateClass = "asgmt-Orange";
                }

                <div class="asgmt-card" onclick="window.location.href = '@Url.Action("Edit", "Assignments", new { id = Assignment.A_Id })'" onmouseover="displayDelete(@Assignment.A_Id);" onmouseout="hideDelete(@Assignment.A_Id);">
                    <div class="asgmt-card-delete" id="@Assignment.A_Id" onclick="window.location.href = '@Url.Action("Delete", "Assignments", new { id = Assignment.A_Id })'; window.event.stopPropagation();">X</div>
                    <div class="asgmt-card-color"></div>
                    <div class="asgmt-card-name">@Assignment.Name</div>
                    <div class="asgmt-card-class">@Assignment.Class.Name</div>
                    <div class="asgmt-card-date @dateClass">@date.Substring(0, 10)</div>
                    <div class="asgmt-card-time @dateClass">@date.Substring(date.Length - 11)</div>
                    <div class="asgmt-card-notes">Notes</div>
                    <div class="asgmt-card-separator"></div>
                    <div class="asgmt-card-noteDetails">@Assignment.Description</div>
                </div>
            }
        }
    </div>

    <div class="asgmt-panels">
        <p class="asg-title">In Progress</p>
        @foreach (var Assignment in Model)
        {
            if (Assignment.Status == 2)
            {
                date = Assignment.Due_Date.ToString();
                if (Assignment.Due_Date > DateTime.Now.Date)
                {
                    dateClass = "asgmt-Green";
                }
                else if (Assignment.Due_Date < DateTime.Now.Date)
                {
                    dateClass = "asgmt-Red";
                }
                else
                {
                    dateClass = "asgmt-Orange";
                }

                <div class="asgmt-card" onclick="window.location.href = '@Url.Action("Edit", "Assignments", new { id = Assignment.A_Id })'" onmouseover="displayDelete(@Assignment.A_Id);" onmouseout="hideDelete(@Assignment.A_Id);">
                    <div class="asgmt-card-delete" id="@Assignment.A_Id" onclick="window.location.href = '@Url.Action("Delete", "Assignments", new { id = Assignment.A_Id })'; window.event.stopPropagation();">X</div>
                    <div class="asgmt-card-color"></div>
                    <div class="asgmt-card-name">@Assignment.Name</div>
                    <div class="asgmt-card-class">@Assignment.Class.Name</div>
                    <div class="asgmt-card-date @dateClass">@date.Substring(0, 10)</div>
                    <div class="asgmt-card-time @dateClass">@date.Substring(date.Length - 11)</div>
                    <div class="asgmt-card-notes">Notes</div>
                    <div class="asgmt-card-separator"></div>
                    <div class="asgmt-card-noteDetails">@Assignment.Description</div>
                </div>
            }
        }
    </div>

    <div class="asgmt-panels">
        <p class="asg-title">Completed</p>
        @foreach (var Assignment in Model)
        {
            if (Assignment.Status == 3)
            {
                <div class="asgmt-card" onclick="window.location.href = '@Url.Action("Edit", "Assignments", new { id = Assignment.A_Id })'" onmouseover="displayDelete(@Assignment.A_Id);" onmouseout="hideDelete(@Assignment.A_Id);">
                    <div class="asgmt-card-delete" id="@Assignment.A_Id" onclick="window.location.href = '@Url.Action("Delete", "Assignments", new { id = Assignment.A_Id })'; window.event.stopPropagation();">X</div>
                    <div class="asgmt-card-color"></div>
                    <div class="asgmt-card-name">@Assignment.Name</div>
                    <div class="asgmt-card-class">@Assignment.Class.Name</div>
                    <div class="asgmt-card-date">@date.Substring(0, 10)</div>
                    <div class="asgmt-card-time">@date.Substring(date.Length - 11)</div>
                    <div class="asgmt-card-notes">Notes</div>
                    <div class="asgmt-card-separator"></div>
                    <div class="asgmt-card-noteDetails">@Assignment.Description</div>
                </div>
            }
        }
    </div>
    <br />

</div>