@model DoubleCheck.Models.Assignments

@{
    ViewBag.Title = "List";
}

<h1>List of Assignments</h1>

<table>
    <tr>
        <th>Assigment Name</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Time Remaing</th>
        <th>Notes</th>
    </tr>
    @foreach (var Assignments in model)
    {
        <tr>
            <td>@Assignments.name</td>
            <td>@Assignments.status</td>
            <td>@Assignments.due_date</td>
            <td>@Assignments.TTC</td>
            <td>@Assignments.discription</td>
        </tr>
    }
</table>
