@model IEnumerable<DoubleCheck.Models.Assignment>

@{
    var status = "Unknown";
    var completion = "";
    int hoursCalc = 0;
    decimal minutesCalc = 0;
    ViewBag.Title = "List";
}

<h1>List of Assignments</h1>

<table style="text-align:center">
    <tr>
        <th>Class</th>
        <th>Assigment Name</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Time Remaing</th>
        <th>Notes</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var Assignments in Model)
    {
        @* Check assignment status and return it as text rather than a number *@
    if (Assignments.Status == 1)
    {
        status = "Not started";
    }
    if (Assignments.Status == 2)
    {
        status = "In progress";
    }
    if (Assignments.Status == 3)
    {
        status = "Completed";
    }
    hoursCalc = ((int) (Assignments.TTC - (Assignments.TTC * Assignments.Completion))) / 60;
    minutesCalc = (Assignments.TTC - (Assignments.TTC * Assignments.Completion)) % 60;
    completion = hoursCalc > 0 ? (hoursCalc > 1 ? hoursCalc.ToString() + " hours " : hoursCalc.ToString() + " hour ") : "";
    completion += minutesCalc > 0 ? minutesCalc.ToString() + " minutes" : "";


        <tr>
            <td>@Assignments.Class.Name</td>
            <td>@Assignments.Name</td>
            <td>@status</td>
            <td>@Assignments.Due_Date</td>
            <td>@completion</td>
            <td>@Assignments.Description</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = Assignments.A_Id })</td>
            <td>@Html.ActionLink("Details", "Details", new { id = Assignments.A_Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = Assignments.A_Id })</td>
        </tr>
    }
</table>

<br />
@Html.ActionLink("New Assignment", "Create")
